<?xml version="1.0"?>
<robot name="disinfector"
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="box_inertia" params="m w h d">
        <inertial>
            <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
            <mass value="${m}"/>
            <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="zed2i" params="prefix:='' name:='' index parent simulation_mode *origin">


    <xacro:if value="${simulation_mode}">
-        <link name="${prefix}${name}_${index}_link">
            <xacro:if value="${simulation_mode}">
                <visual>
                    <origin rpy=" 0 0 1.57" xyz="-0.05 0 0.0" />
                    <geometry>
-                        <mesh scale="0.001 0.001 0.001" filename="file://$(find agv_core)/meshes/ZED2i.stl" />
                    </geometry>
                </visual>
            </xacro:if>

            <collision>
                <origin rpy=" 0 0 1.57" xyz="-0.05 0 0.0" />
                <geometry>
                    <box size="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <xacro:box_inertia m="0.01" w="0.01" d="0.01" h="0.01"/>
        </link>

        <link name="${prefix}${name}_${index}_link_depthcloud">
            <visual>
                <geometry>
                    <box size="0.01 0.01 0.01" />
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0.0" />
            </visual>
            <inertial>
                <mass value="0.03" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="0.0006" ixy="0.00" ixz="0" iyy="0.0005" iyz="0" izz="0.0007"/>
            </inertial>
            <collision>
                <geometry>
                    <box size="0.001 0.001 0.001" />
                </geometry>
                <origin rpy="0 0 0" xyz="0 0 0.0" />
            </collision>
        </link>

        <joint name="${prefix}${name}_${index}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}${name}_${index}_link"/>
            <xacro:insert_block name="origin"/>
        </joint>

        <joint name="${prefix}${name}_${index}_joint_pointcloud" type="fixed">
            <parent link="${prefix}${name}_${index}_link" />
            <child link="${prefix}${name}_${index}_link_depthcloud" />
            <origin xyz="0.0 0.0 0.0" rpy="-1.57 0 -1.57" />
        </joint>




        <xacro:if value="${simulation_mode}">
            <gazebo reference="${prefix}${name}_${index}_link">
                <material>Gazebo/Black</material>
            </gazebo>
            <gazebo reference="${prefix}${name}_${index}_link_depthcloud">
                <material>Gazebo/Black</material>
            </gazebo>
            <gazebo reference="${prefix}${name}_${index}_link">
                <gravity>true</gravity>
                <sensor name="${prefix}${name}_${index}" type="depth">
                    <update_rate>60</update_rate>
                    <visualize>false</visualize>
                    <camera>
                        <horizontal_fov>1.92</horizontal_fov>
                        <image>
                            <width>640</width>
                            <height>480</height>
                            <format>B8G8R8</format>
                        </image>
                        <depth_camera>
                        </depth_camera>
                        <clip>
                            <near>0.02</near>
                            <far>20</far>
                        </clip>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.007</stddev>
                        </noise>
                    </camera>

                    <plugin name="${prefix}${name}_${index}_controller" filename="libgazebo_ros_camera.so">
                        <ros>
                            <namespace>${prefix}</namespace>
                            <argument>image_raw:=/image</argument>
                            <argument>depth/image_raw:=/depth_image</argument>
                            <argument>camera_info:=/raw_cam_info</argument>
                            <argument>depth/camera_info:=/depth_cam_info</argument>
                            <argument>points:=/pointcloud2</argument>
                        </ros>
                        <min_depth>0.1</min_depth>
                        <max_depth>500</max_depth>
                        <frame_name>${prefix}${name}_${index}_link_depthcloud</frame_name>
                    </plugin>
                </sensor>
            </gazebo>
        </xacro:if>
    </xacro:if> 
    
    <xacro:unless value="$(arg simulation_mode)">
         <link name="${prefix}${name}_link">
            <collision>
                <origin rpy=" 0 0 1.57" xyz="-0.05 0 0.0" />
                <geometry>
                    <box size="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <xacro:box_inertia m="0.01" w="0.01" d="0.01" h="0.01"/>
        </link>
         <joint name="${prefix}${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}${name}_link"/>
            <xacro:insert_block name="origin"/>
        </joint>
   </xacro:unless> 



    </xacro:macro>
</robot>